<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{../css/crew/crewForm.css}">
</head>
<body>
<div class="container">
  <p>크루 생성 후 수정할 수 있습니다.</p>
  <form th:action th:object="${crewSaveRequestDto}" method="post">
    <label for="crewName">크루즈명</label>
    <input type="text" id="crewName" placeholder="크루명을 입력해주세요." th:field="*{name}">

    <label for="online">온라인 유무</label> <!-- 바꿔야함.-->
    <input type="checkbox" id="online" th:field="*{crewType}">

    <label for="cost">비용 유무</label>
    <input type="checkbox" id="cost" th:field="*{cost}">

    <label for="crewGoal">크루 소개</label>
    <textarea type="text" id="crewGoal" placeholder="크루 소개를 입력해주세요." th:field="*{description}"></textarea>

    <label for="wisher">이런 선원을 원해요.</label>
    <textarea type="text" id="wisher" placeholder="원하는 선원을 입력해주세요." th:field="*{wisher}"></textarea>

    <label for="plan">항해 계획</label>
    <textarea type="text" id="plan" placeholder="항해 계획을 입력해주세요." th:field="*{plan}"></textarea>
    <button type="submit">등록</button>
  </form>
</div>

</body>
</html>