<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>meeting</title>
  <link rel="stylesheet" th:href="@{/css/crew/meeting.css}">
</head>

<body>
  <header th:replace="~{fragment/fragment :: crewDetailheader(${crewResponseDto.name})}"></header>
  <nav th:replace="~{fragment/fragment :: crewDetailnav(${loginUser.name}, ${crewResponseDto.leader},
  ${crewResponseDto.users.contains(loginUser)},${crewResponseDto.recruit} )}"></nav>

  <div th:each="meeting : ${meetingList}">
    <div th:text="${meeting.title}"></div>
    <div th:text="${meeting.intro}"></div>
    <div th:text="${meeting.capacity}"></div>
    <div th:text="${meeting.date}"></div>
    <div th:text="${meeting.location}"></div>
  </div>

</body>
</html>