<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/crew/meetingForm.css}">

</head>
<body>
<header th:replace="~{fragment/fragment :: crewDetailheader(${crewResponseDto.name})}"></header>
<nav th:replace="~{fragment/fragment :: crewDetailnav(${loginUser.name}, ${crewResponseDto.leader},
  ${crewResponseDto.users.contains(loginUser)},${crewResponseDto.recruit} )}"></nav>

<div class="container">
  <form th:action th:object="${meetingSaveRequestDto}" method="post">
    <div class="text">
      <label for="crewName">모임 제목</label>
      <input type="text" id="crewName" placeholder="모임 제목을 입력해주세요." th:field="*{title}" >
    </div>

    <div class="text">
      <label for="crewGoal">모임 소개</label>
      <input type="text" id="crewGoal" placeholder="모임 소개를 작성해주세요." th:field="*{intro}">
    </div>

    <div class="text">
      <label for="date">일자</label>
      <input type="datetime-local" id="date" placeholder="모임 일자를 작성해주세요." th:field="*{date}">
    </div>

    <div class="text">
      <label for="capacity">인원</label>
      <input type="text" id="capacity" placeholder="인원수를 작성해주세요." th:field="*{capacity}">
    </div>


    <div class="text">
      <input type="text" id="sample5_address" placeholder="주소" th:field="*{location}">
      <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
      <div id="map" style="width: 300px; height: 200px;">
      </div>
    </div>
    <button type="submit">생성</button>
  </form>

</div> <!--container-->
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=87efe4ec1b367fbd866ff923465336b7&libraries=services">
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/map.js"></script>
</body>
</html>