<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>main</title>
  <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<!-- 로그인 성공 후 메인 화면-->
<header>
  <div class="left-section">
    <ul><a href="/boards">자유게시판</a></ul>
    <ul><a href="#this">크루 화면</a></ul>
  </div>

  <div class="right-section">
    <button type="submit" th:onclick="|location.href='@{/crews/form}'|" th:if="${loginUser != null}">크루 생성</button>
    <button type="submit" th:onclick="|location.href='@{/logout}'|" th:if="${loginUser != null}">로그아웃</button>
    <button type="submit" th:onclick="|location.href='@{/my-page}'|" th:if="${loginUser != null}">마이페이지</button>
    <button type="submit" th:onclick="|location.href='@{/login}'|" th:if="${loginUser == null}">로그인</button>
    <button type="submit" th:onclick="|location.href='@{/sign-up}'|" th:if="${loginUser == null}">회원가입</button>
  </div>
</header>
<div id="container">
  <div id="main-banner-container">
    <img id="main-banner" src="/asset/huhyhohy.png" alt="배너 사진" >
  </div>

  <h3>Top 10 크루</h3>
  <div class="top10-crew">
    <div class="crew"  th:each="crew : ${crews}" th:if="${crew.isPublished && !crew.closed}">

      <div class="crew-banner-container">
        <img class="crew-banner" th:src="|/banner/banner.jpg|" alt="배너 사진" th:if="${crew.banner == null}">
        <img th:src="|/banner/${crew.banner.getStoreFilename()}|" th:if="${crew.banner != null}"/>
      </div>

      <div class="crew-info">
        <a th:href="@{/crews/{crewId}(crewId=${crew.id})}" th:text="${crew.name}"></a><br>
        <span th:text="${crew.leader}"></span> <br>
        <span th:text="${crew.type} ? '온라인 활동' : '오프라인 활동'"></span><br> <!--crew.type=true면 온라인-->
        <span th:text="${crew.cost} ? '유료' : '무료'"></span><br> <!--crew.cost=true면 유료-->
      </div>
    </div> <!--crew-->

  </div><!--top10_crew-->

    <h3>현재 모집 중인 크루즈</h3>

    <div class="crew-container">
      <div class="crew"  th:each="crew : ${crews}" th:if="${crew.isPublished && !crew.closed}">

        <div class="crew-banner-container">
          <img class="crew-banner" th:src="|/banner/banner.jpg|" alt="배너 사진" th:if="${crew.banner == null}">
          <img th:src="|/banner/${crew.banner.getStoreFilename()}|" th:if="${crew.banner != null}"/>
        </div>

        <div class="crew-info">
          <a th:href="@{/crews/{crewId}(crewId=${crew.id})}" th:text="${crew.name}"></a><br>
          <span th:text="${crew.leader}"></span> <br>
          <span th:text="${crew.type} ? '온라인 활동' : '오프라인 활동'"></span><br> <!--crew.type=true면 온라인-->
          <span th:text="${crew.cost} ? '유료' : '무료'"></span><br> <!--crew.cost=true면 유료-->
        </div><!--crew-info-->
      </div> <!--crew-->
    </div> <!--crew-container-->

    <div class="page-btn">
      <a th:if="${!crews.isFirst()}" th:href="@{/crews(page=${crews.getNumber() - 1})}">이전 페이지</a>
      <a th:if="${!crews.isLast()}" th:href="@{/crews(page=${crews.getNumber() + 1})}"}>다음 페이지</a>
    </div>

</div><!--container-->

</body>
</html>